.job-card {
  min-height: 22.8rem;
}

.job-card.last {
  margin-bottom: 0;
}

.job-card:last-child {
  margin-bottom: 5rem;
}

.job-card-metadata {
  color: #6e8098;
}

.job-company-name {
  color: #6e8098;
}

.job-title {
  line-height: 2.4rem;
}

.job-location {
  color: #5964e0;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
