.job-detail-company-url {
  color: #5964e0;
  background-color: rgba(89, 100, 224, 0.1);
}

.job-detail-company-url:hover {
  background-color: rgba(89, 100, 224, 0.35);
}

.job-detail-html-description {
  color: #6e8098;
  line-height: 2.6rem;
}

.job-detail-html-description h1,
.job-detail-html-description h2,
.job-detail-html-description h3,
.job-detail-html-description h4,
.job-detail-html-description h5,
.job-detail-html-description h6,
.job-detail-html-description strong {
  display: inline-block;
  color: #19202d;
  font-size: 2rem;
}

.job-detail-html-description > * {
  margin-bottom: 2rem;
}

.job-detail-html-description * {
  word-wrap: break-word;
}

/* To avoid any overflow of the page */
.job-detail-html-description pre {
  white-space: pre-wrap;
}

.job-detail-how-to-apply {
  background-image: url('/img/mobile/bg-pattern-detail-footer.svg');
  background-origin: border-box;
  background-position: right;
  background-size: cover;
  border-radius: 0.6rem;
}

.job-detail-how-to-apply-paragraph {
  word-wrap: break-word;
}

.job-detail-apply-now-footer {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
